extends layout

block content
  section#featuredBroadcastSection.shadowBottom.section
    #featuredBroadcastContainer.card.container.flexContainer
      #featuredBroadcastContent.content
        .featureBroadcastDate
          h2#featuredBroadcastDate Today&apos;s Broadcast
        .playButton.clickable
          span.fontAwesome.playPause.far.fa-play-circle
        .featureBroadcastTitle
          h1#featuredBroadcastTitle Broadcast Title
        .progressBarContainer
          audio#broadcastPlayer(controls)
            source#audioSource(src="" type='audio/mpeg')
            | Your browser does not support html 5 audio!           
        #prevArr.fontAwesome.leftArrow.clickable
          span.fas.fa-angle-left
        .featureBroadcastGuests
          h3#featuredBroadcastGuests Broadcast Guest(s): 
        #nextArr.fontAwesome.rightArrow.clickable
          span.fas.fa-angle-right
        .featureBroadcastDescription.mobileHide
          p#featuredBroadcastDescription
  section#hostSection.section
    #hostContainer.container.card.flexContainer
      #hostContent.content
        h1 Hosts of the Broadcast
        #hostBioContainer.flexContainer
          .hostBio
            img.hostImage(src='/images/daly-jim.jpg')
            h2 Jim Daly
            p
              | Jim Daly is an author and broadcaster, president of Focus on the Family and host of the daily
              | broadcast,
              | heard by more than 6.3 million listeners a week and honored as 2012 Program of the Year by the
              | National
              | Religious Broadcasters.
          .hostBio
            img.hostImage(src='/images/fuller-john.jpg')
            h2 John Fuller
            p
              | John Fuller is vice president of the Audio division and co-host of the daily &quot;Focus on the Family&quot;
              | radio
              | program. He speaks and writes about family, faith, media and business. John and his wife, Dena,
              | reside
              | in Colorado Springs, Colo., and have six children.
  main#recentBroadcastCardsSection.section.shadowBottom
    #recentBroadcastCardContainer.container.flexContainer.card
      #recentEpisodeContent.content
        h1 Recent Episodes
        div#recentEpisodesList

  